@font-face {
	font-family: "bebas_neue";
	src: url(../fonts/BebasNeue.otf);
}

.launch-header {
	/*background: url(http://placehold.it/200x300) repeat;/* Use a tiling background image or a full width image - if you're using full width you will need to change no-repeat center center cover  */
	background-position: top;
	height: auto;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	background-color: #FFD79F;
}

.btn-primary{
	width: 300px;
	height: 55px;
	font-family: "bebas_neue", Verdana, Tahoma;
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
	padding-top: 2px;
	margin-right: 20px;
}

.launch{
	background-color: #E33022;
	border-color: #E33022;
}

.launch:hover{
	background-color: #BC0E00;
	border-color: #BC0E00;
}

.launch:focus{
	background-color: #E33022;
	border-color: #E33022;
}

.read-more{
}

.headline {
	padding: 0px 0;
}

.headline > .container > h1 {
	font-family: "bebas_neue", Verdana, Tahoma;
	display: inline;
	font-size: 110px;
}

.headline > .container > h1.launch{
}

.headline > .container > h1.drop{
}

.headline > .container > h2 {
	font-family: "bebas_neue", Verdana, Tahoma;
	font-size: 55px;
	padding-bottom: 20px;
	margin: 0 auto;
}

body > .container{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: block;
}

.featurette {
	overflow: hidden; 
	width: 90%;
	height: 100%;
	padding-top: 5%;
	display: block;
	margin: auto;
	text-align: center;
}

.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

.featurette-heading {
	font-size: 50px;
}

.featurette-holder{
	width: 100%;
	padding-top: 0px;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-bottom: 0px;
}

.featurette-image{
	height: 400px;
	width: 400px;
	float: center;
	margin: 0 auto;
	display: block;
	padding-bottom: 0px;
}

#desc-box{
	background-color: #85BACE;
}

#desc{
	color: #ffffff;
}

.feature-list{
	text-align: center;
}

.feature-bullets{
	font-size: 16px;
    text-align:left;
    padding-left: 20px;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {
	
.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 100%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}
}